* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1000px;
  background-color: #ffffff;
  margin: 0;
}

.wrap02 {
  padding-top: 50px;
  width: 100%;
  background-color: #f1f7fb;
  text-align: center;
}
.wrap02 > div:nth-child(1) {
  display: inline-block;
  width: 90%;
  height: 150px;
  overflow: hidden;
  margin-top: 50px;
  border-bottom: 2px solid rgba(126, 126, 126, 0.4);
}
.wrap02 > div:nth-child(1) > img {
  width: 100%;
  position: relative;
  top: 5px;
}
.main_title {
  font-size: 85px;
  font-weight: bold;
  font-family: "Syncopate", sans-serif;
  font-weight: 800;
  color: #41446f;
}

.wrap02 > div:nth-child(2) {
  width: 100%;
  height: 600px;
  display: inline-block;
  overflow: hidden;
  margin: 0px 0px;
}
.wrap02 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_photo {
  width: 100%;
  height: 100%;
}

.wrap_form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f7fb;
}
.wrap_form > .search {
  display: block;
  margin-bottom: 50px;
  height: 60px;
  width: 500px;
  border: 2px solid rgb(228, 228, 228);
}
.search > input {
  font-size: 22px;
  line-height: 45px;
  padding: 10px;
  border: 0px;
  width: 250px;
  float: left;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Pretendard-Regular";
}
.search > button {
  float: right;
  width: 70px;
  height: 100%;
  border: 0px;
  background-color: rgb(224, 224, 224);
  font-family: "Pretendard-Regular";
  color: #464646;
  font-size: 18px;
  transition: 0.3s;
}
.search > button:hover {
  background-color: rgb(163, 163, 163);
  color: #ffffff;
}

.wrap03 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.wrap03 > div {
  margin: 60px 0px;
  font-family: "Pretendard-Regular";
}
.wrap03 > div:nth-child(1) {
  width: 600px;
}
.wrap03 > div:nth-child(2) {
  width: 600px;
}
.wrap03 > div:nth-child(1) > p {
  margin-left: 50px;
  width: 80%;
  font-size: 46px;
  line-height: 60px;
  font-weight: 300;
}
.wrap03 > div:nth-child(2) > p {
  margin-left: 20px;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  line-height: 30px;
}

.empty_div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #e6e6e6;
}
.empty_div > div {
  margin-top: 37px;
  color: #8d8d8d;
  font-family: "Poppins";
}
